
@import url(_vars.css);
  .menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
    cursor: pointer;
}
.menu-btn span {
	width: 30px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 7px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 7px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
  }

/* Меню, которое будет появляться */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
	padding: 15px;
  background: var(--header_bg_color);
	transform: translateX(-100%);
	transition: transform 0.5s; 
}

.menu.active {
	transform: translateX(0%);
}

.menu li {
	list-style-type: none;
    margin: 15px 0;
}

.menu li a {
    text-decoration: none;
	text-transform: uppercase;
    color: #ffff;
    
} 

@media screen and (max-width: 670px) {
    .menu {
        width: 50%;
    }
}

@media screen and (max-width: 1240px) {
    .menu-btn {
        margin-left: 10px;
    }
}

@media screen and (max-width: 870px) {
    .menu-btn {
        width: 23px;
    }
}
