.content {
    text-align: center;

}


.info_content {
    border-bottom: 1px solid #000;
    padding-top: 20px;
}

.info_content:last-child {
    border-bottom: 0;
}


h3 {
    font-weight: 700;
    font-size: 32px;
}

.content-item {
    font-size: 20px;
    max-width: 700px;
    margin: 20px auto;
}

.small_textd {
    font-size: 16px;
}

.banner-item {
    width: 100%;
}


@media screen and (max-width: 1240px) {


}
@media screen and (max-width: 870px) {
    .content-item {
        font-size: 16px;
    }

}

@media screen and (max-width: 770px) {
    .content-item {
        font-size: 14px;
    }
}