/* .content {
    text-align: center;

} */



.info_content {
    border-bottom: 1px solid #000;
    padding-top: 20px;
    text-align: center;
}

.info_content:last-child {
    border-bottom: 0;
}


.banners {
    text-align: center;
}

.content-item {
    font-size: 18px;
    /* max-width: 700px */;
    margin: 20px auto;
}

.small_text {
    font-size: 16px;
}

.banner-item {
    width: 100%;
}


@media screen and (max-width: 1240px) {
    

}
@media screen and (max-width: 870px) {
    .content-item {
        font-size: 16px;
    }

}

@media screen and (max-width: 770px) {
    .content-item {
        font-size: 14px;
    }
}